<h2 mat-dialog-title>Versions</h2>
<mat-dialog-content>
  <mat-select placeholder="Version" [formControl]="versionsControl">
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of versionsGroups" [label]="group.title" [disabled]="group.disabled">
      <mat-option *ngFor="let version of group.versions" [value]="version.key">
        {{version.title}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-dialog-content>
<!--
<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input matInput
                placeholder="Course Description"
               formControlName="description">
    </mat-form-field>

</mat-dialog-content>
-->

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="ok()">OK</button>
</mat-dialog-actions>
